.contenedor {
    text-align: center;
}

.contenedor_pre {
    margin-left: 25px;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.comentario {
    color: dodgerblue;
}

.create {
    color: lightseagreen;
}

.nombres {
    color: rgb(165, 93, 52);
}

.info {
    color: orange;
}

p {
    color: orange;
    margin-top: 0;
    margin-bottom: 0;
}

.tabla {
    margin-top: 40px;
    margin-bottom: 40px;

}

.estilo_P{
    font-size: 18px;
}

.boton{
    margin-top: 25px;
    margin-bottom: 25px;
}

#miDiv{
    display: none;
}
.boton_p{
    font-size: 25px;
}
.boton_p_2{
    color: black;
}
a{
    text-decoration: none;
}