


.imagen2 {
    width: 90%;

}

.css-button-sliding-to-top--blue {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #2c0b8e;
    color: #2c0b8e;
}

.css-button-sliding-to-top--blue:hover {
    color: #fff;
}

.css-button-sliding-to-top--blue:hover:after {
    height: 100%;
}

.css-button-sliding-to-top--blue:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #2c0b8e;
}

.css-button-sliding-to-bottom--black {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #212529;
    color: #212529;
}

.css-button-sliding-to-bottom--black:hover {
    color: #fff;
}

.css-button-sliding-to-bottom--black:hover:after {
    height: 100%;
}

.css-button-sliding-to-bottom--black:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background: #212529;
}

.redes-sociales {
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    gap: 25px;
}

.icono {
    width: 50px;
    height: 50px;
}

